/**
 * Calendar that shows date of post posts
 */

@mixin calendar-text($fontSize) {
    @include ubuntu;
    @include calendar-center;
    position: absolute;
    font: {
        size: $fontSize;
        weight: bold;
    }
}

@mixin calendar-center {
    left: 11px;
    text-align: center;
    width: 30px;
}

div.post_date {
    background: url('../images/calendar.png') no-repeat;
    float: left;
    height: 59px;
    margin: {
        right: 10px;
    }
    position: relative;
    width: 52px;
    
    div.month {
        @include calendar-text(10px);
        color: $white;
        top: 5px;
    }
    
    div.day {
        @include calendar-text(20px);
        top: 21px;
    }
    
    div.year {
        @include calendar-text(10px);
        top: 43px;
    }
   
}