@font-face {
  font-family: 'Arvo';
  src: url('/fonts/arvo/Arvo-BoldItalic-webfont.eot');
  src: local('?'), url('/fonts/arvo/Arvo-BoldItalic-webfont.woff') format('woff'), url('/fonts/arvo/Arvo-BoldItalic-webfont.ttf') format('truetype'), url('/fonts/arvo/Arvo-BoldItalic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'Arvo';
  src: url('/fonts/arvo/Arvo-Regular-webfont.eot');
  src: local('?'), url('/fonts/arvo/Arvo-Regular-webfont.woff') format('woff'), url('/fonts/arvo/Arvo-Regular-webfont.ttf') format('truetype'), url('/fonts/arvo/Arvo-Regular-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: 'Arvo';
  src: url('/fonts/arvo/Arvo-BoldItalic-webfont.eot');
  src: local('?'), url('/fonts/arvo/Arvo-BoldItalic-webfont.woff') format('woff'), url('/fonts/arvo/Arvo-BoldItalic-webfont.ttf') format('truetype'), url('/fonts/arvo/Arvo-BoldItalic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'Arvo';
  src: url('/fonts/arvo/Arvo-Regular-webfont.eot');
  src: local('?'), url('/fonts/arvo/Arvo-Regular-webfont.woff') format('woff'), url('/fonts/arvo/Arvo-Regular-webfont.ttf') format('truetype'), url('/fonts/arvo/Arvo-Regular-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/ubuntu/Ubuntu-B-webfont.eot');
  src: local('?'), url('/fonts/ubuntu/Ubuntu-B-webfont.woff') format('woff'), url('/fonts/ubuntu/Ubuntu-B-webfont.ttf') format('truetype'), url('/fonts/ubuntu/Ubuntu-B-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/ubuntu/Ubuntu-BI-webfont.eot');
  src: local('?'), url('/fonts/ubuntu/Ubuntu-BI-webfont.woff') format('woff'), url('/fonts/ubuntu/Ubuntu-BI-webfont.ttf') format('truetype'), url('/fonts/ubuntu/Ubuntu-BI-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/ubuntu/Ubuntu-I-webfont.eot');
  src: local('?'), url('/fonts/ubuntu/Ubuntu-I-webfont.woff') format('woff'), url('/fonts/ubuntu/Ubuntu-I-webfont.ttf') format('truetype'), url('/fonts/ubuntu/Ubuntu-I-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/ubuntu/Ubuntu-R-webfont.eot');
  src: local('?'), url('/fonts/ubuntu/Ubuntu-R-webfont.woff') format('woff'), url('/fonts/ubuntu/Ubuntu-R-webfont.ttf') format('truetype'), url('/fonts/ubuntu/Ubuntu-R-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata/Inconsolata-webfont.eot');
  src: local('?'), url('/fonts/Inconsolata/Inconsolata-webfont.woff') format('woff'), url('/fonts/Inconsolata/Inconsolata-webfont.ttf') format('truetype'), url('/fonts/Inconsolata/Inconsolata-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 500;
  font-style: normal;
}