/**
 * General site styles
 */

body { 
    background-color: $blue;
    color: $darkGray;
}

body, p, ol, ul, td {
    font: {
        family: verdana, arial, helvetica, sans-serif;
        size:   13px;
    }
    line-height: 18px;
}

a { 
    color: $darkGray;
    font-weight: bold;
    &:visited {
        color: #666;
    }
}

h1, h2, h3 {
    font: {
        weight: bold;
    }
    margin: {
        bottom: 6px;
    }
}

h1, h2 {
    border-bottom: 1px solid $darkGray;
    padding: {
        bottom: 5px;
    }
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}