/**
 * General site styles
 */

body { 
    background-color: $blue;
    color: $darkGray;
}

body, p, ol, ul, td {
    @include arvo;
    font-size: 1em;
}

a { 
    color: $darkGray;
    font-weight: bold;
    &:visited {
        color: #666;
    }
}

h1, h2, h3 {
    @include arvo;
    font-weight: bold;
    
    margin: {
        bottom: 6px;
    }
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

input[type="text"], input[type="password"], textarea {
    background-color: $lightGray;
    border: 1px solid $midGray;
}