/**
 * Main template layout
 */

div#login {
    @include round-corner(2px);
    
    background-color: $darkYellow;
    padding: 4px;
    position: fixed;
    right: 4px;
    top: 4px;
}

img#layout_header {
    display: block;
    margin: 0 auto;
}

div#layout_container {
    @include round-corner(4px);
    background-color: $darkYellow;
    border: 2px solid $lightYellow;
    margin: 0 auto;
    padding: 12px;
    width: 640px;
}

h1.page_title {
    margin-bottom: 20px;
}

div#error {
    @include round-corner(4px);
    background: $whiteRed;
    border: 1px solid $red;
    color: $red;
    margin: 8px;
    padding: 8px;
}

div#notice {
    @include round-corner(4px);
    background: $lightGray;
    border: 1px solid $darkGray;
    color: $darkGray;
    margin: 8px;
    padding: 8px;
}