/**
 * Main template layout
 */

div#login {
    @include round-corner(4px);
    @include shadow(0, 0, 1px, $lightYellow);
    
    background-color: $midYellow;
    border: 1px solid $lightYellow;
    padding: 4px;
    position: fixed;
    right: 6px;
    top: 6px;
}

img#layout_header {
    display: block;
    margin: 0 auto;
}

div#layout_container {
    margin: 0 auto 50px;
    width: 640px;
}

div#layout_outer_box {
    @include round-corner(4px);
    @include shadow(0, 0, 1px, $lightYellow);
    
    background-color: $midYellow;
    border: 1px solid $lightYellow;
    padding: 12px;
}

div#layout_inner_box {
    @include shadow-inset(0, 0, 5px, $darkGray);

    background-color: $darkYellow;
    border-bottom: 2px solid $lightYellow;
    padding: 10px;
}

h1.page_title {
    margin-bottom: 20px;
}

div#error {
    @include round-corner(4px);
    background: $whiteRed;
    border: 1px solid $red;
    color: $red;
    margin: 8px;
    padding: 8px;
}

div#notice {
    @include round-corner(4px);
    background: $lightGray;
    border: 1px solid $darkGray;
    color: $darkGray;
    margin: 8px;
    padding: 8px;
}