/**
 * post post styles
 */

div.post_post {
    clear: both;
    margin-bottom: 40px;
    
    h2.post_title {
        border-bottom: 1px solid $darkGray;
        
        padding: {
            bottom: 5px;
        }
    }
}

div.post_author {
    float: right;
    font-weight: bold;
    line-height: 20px;
}

div.post_body {
    margin-left: 62px;
}

div.post_content {
    line-height: 22px;
    margin-bottom: 10px;
    
    p, pre, ul, ol {
        margin-bottom: 18px;
    }
    
    ul, ol {
        margin-left: 32px;
        p, pre, ul, ol {
            margin-bottom: 0;
        }
    }
    
    ul {
        list-style-type: disc;
    }
    
    ol {
        list-style-type: decimal;
    }
}