/**
 * post post styles
 */

div.post_post {
    clear: both;
    margin-bottom: 40px;
    
    h2 {
        border-bottom: 1px solid $darkGray;
        
        padding: {
            bottom: 5px;
        }
    }
}

div.post_author {
    float: right;
    font-weight: bold;
    line-height: 20px;
}

div.post_body {
    margin-left: 62px;
}

div.post_content {
    line-height: 22px;
}