img#layout_header {
    display: block;
    margin: 0 auto;
}

div#layout_container {
    background-color: #A7511E;
    border: 2px solid #DB913C;
    border-radius: 4px; 
    -moz-border-radius: 4px;
    margin: 0 auto;
    padding: 12px;
    width: 640px;
}