/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Arvo';
  src: url("/fonts/arvo/Arvo-BoldItalic-webfont.eot");
  src: local("?"), url("/fonts/arvo/Arvo-BoldItalic-webfont.woff") format("woff"), url("/fonts/arvo/Arvo-BoldItalic-webfont.ttf") format("truetype"), url("/fonts/arvo/Arvo-BoldItalic-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Arvo';
  src: url("/fonts/arvo/Arvo-Regular-webfont.eot");
  src: local("?"), url("/fonts/arvo/Arvo-Regular-webfont.woff") format("woff"), url("/fonts/arvo/Arvo-Regular-webfont.ttf") format("truetype"), url("/fonts/arvo/Arvo-Regular-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Arvo';
  src: url("/fonts/arvo/Arvo-BoldItalic-webfont.eot");
  src: local("?"), url("/fonts/arvo/Arvo-BoldItalic-webfont.woff") format("woff"), url("/fonts/arvo/Arvo-BoldItalic-webfont.ttf") format("truetype"), url("/fonts/arvo/Arvo-BoldItalic-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Arvo';
  src: url("/fonts/arvo/Arvo-Regular-webfont.eot");
  src: local("?"), url("/fonts/arvo/Arvo-Regular-webfont.woff") format("woff"), url("/fonts/arvo/Arvo-Regular-webfont.ttf") format("truetype"), url("/fonts/arvo/Arvo-Regular-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("/fonts/ubuntu/Ubuntu-B-webfont.eot");
  src: local("?"), url("/fonts/ubuntu/Ubuntu-B-webfont.woff") format("woff"), url("/fonts/ubuntu/Ubuntu-B-webfont.ttf") format("truetype"), url("/fonts/ubuntu/Ubuntu-B-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("/fonts/ubuntu/Ubuntu-BI-webfont.eot");
  src: local("?"), url("/fonts/ubuntu/Ubuntu-BI-webfont.woff") format("woff"), url("/fonts/ubuntu/Ubuntu-BI-webfont.ttf") format("truetype"), url("/fonts/ubuntu/Ubuntu-BI-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Ubuntu';
  src: url("/fonts/ubuntu/Ubuntu-I-webfont.eot");
  src: local("?"), url("/fonts/ubuntu/Ubuntu-I-webfont.woff") format("woff"), url("/fonts/ubuntu/Ubuntu-I-webfont.ttf") format("truetype"), url("/fonts/ubuntu/Ubuntu-I-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Ubuntu';
  src: url("/fonts/ubuntu/Ubuntu-R-webfont.eot");
  src: local("?"), url("/fonts/ubuntu/Ubuntu-R-webfont.woff") format("woff"), url("/fonts/ubuntu/Ubuntu-R-webfont.ttf") format("truetype"), url("/fonts/ubuntu/Ubuntu-R-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Inconsolata';
  src: url("/fonts/Inconsolata/Inconsolata-webfont.eot");
  src: local("?"), url("/fonts/Inconsolata/Inconsolata-webfont.woff") format("woff"), url("/fonts/Inconsolata/Inconsolata-webfont.ttf") format("truetype"), url("/fonts/Inconsolata/Inconsolata-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 500;
  font-style: normal; }

/**
 * General site styles
 */
body {
  background-color: #002b4d;
  color: #1e202d; }

body, p, ol, ul, td {
  font-family: "Arvo", Rockwell, serif;
  font-size: 1em; }

a {
  color: #1e202d;
  font-weight: bold; }
  a:visited {
    color: #666; }

h1, h2, h3 {
  font-family: "Arvo", Rockwell, serif;
  font-weight: bold;
  margin-bottom: 6px; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 16px; }

input[type="text"], input[type="password"], textarea {
  background-color: #d0d0d0;
  border: 1px solid #a7a7a7; }

table {
  border-top: 1px solid #1e202d;
  border-left: 1px solid #1e202d; }
  table th {
    font-weight: bold; }
  table td, table th {
    border-bottom: 1px solid #1e202d;
    border-right: 1px solid #1e202d;
    padding: 4px; }

/**
 * Main template layout
 */
div#login {
  border-radius: 2px;
  -moz-border-radius: 2px;
  background-color: #a7511e;
  padding: 4px;
  position: fixed;
  right: 4px;
  top: 4px; }

img#layout_header {
  display: block;
  margin: 0 auto; }

div#layout_container {
  border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #a7511e;
  border: 2px solid #db913c;
  margin: 0 auto;
  padding: 12px;
  width: 640px; }

h1.page_title {
  margin-bottom: 20px; }

/**
 * Styles for devise login forms
 */
form label {
  font-weight: bold; }
form p {
  line-height: 20px;
  margin-bottom: 8px; }

/**
 * Calendar that shows date of post posts
 */
div.post_date {
  background: url("../images/calendar.png") no-repeat;
  float: left;
  height: 59px;
  margin-right: 10px;
  position: relative;
  width: 52px; }
  div.post_date div.month {
    font-family: "Ubuntu", "Arial", "Helvetica", "Lucida Grande", "Verdana", "Gill Sans", sans-serif;
    left: 11px;
    text-align: center;
    width: 30px;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    color: white;
    top: 5px; }
  div.post_date div.day {
    font-family: "Ubuntu", "Arial", "Helvetica", "Lucida Grande", "Verdana", "Gill Sans", sans-serif;
    left: 11px;
    text-align: center;
    width: 30px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    top: 21px; }
  div.post_date div.year {
    font-family: "Ubuntu", "Arial", "Helvetica", "Lucida Grande", "Verdana", "Gill Sans", sans-serif;
    left: 11px;
    text-align: center;
    width: 30px;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    top: 43px; }

/**
 * post post styles
 */
div.post_post {
  clear: both;
  margin-bottom: 40px; }
  div.post_post h2 {
    border-bottom: 1px solid #1e202d;
    padding-bottom: 5px; }

div.post_author {
  float: right;
  font-weight: bold;
  line-height: 20px; }

div.post_body {
  margin-left: 62px; }

div.post_content {
  line-height: 22px; }
